body {
  background-image: url('test1jpg');
  background-size:cover;
  background-repeat: no-repeat;
}

form {
    background-image: url('test1jpg');
    background-size:cover;
    background-repeat: no-repeat;
}