.easy {
  width: 150px;
  height: 150px;
  border-radius: 150px;
  border-color: black;
  background-color: red;
  font-size: 20px;
  color: white;
}
.AmericanPop {
    width: 150px;
    height: 150px;
    border-radius: 150px;
    border-color: black;
    background-color: red;
    font-size: 20px;
    color: white;
}
body{
    background: url("img1.JPG");
    background-size: cover;
    background-repeat: no-repeat;
    
}